# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.gitignore
README.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.
build
node_modules
k8s
deployment
.husky
.huskyrc.json
jsconfig.json
.prettierignore
.prettierrc.json
#.yalc
#.npmrc
#yalc.lock
#package.lock
.yarnrc
.yarnrc.yml
