{
  "root": true,
  "plugins": ["import", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          ["index", "sibling"],
          "object"
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "pattern": "@material/**",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": []
      }
    ],
    "arrow-parens": ["warn", "always"],

    // dog fooding
    "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "import/no-extraneous-dependencies": "error",
    "import/unambiguous": "off"
  },

  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      },
      "alias": {
        "map": [["src", "./src"]],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
