repos:
  -   repo: https://github.com/adamchainz/django-upgrade
      rev: ''  # replace with latest tag on GitHub
      hooks:
      -   id: django-upgrade
          args: [--target-version, "3.2"]   # Replace with Django version
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.8
      exclude: .*migrations/
  - repo: https://github.com/pycqa/isort
    rev: 5.8.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        stages: [commit]
        args: # arguments to configure flake8
          # making isort line length compatible with black
          - "--max-line-length=80"
          - "--max-complexity=18"
          - "--select=B,C,E,F,W,T4,B9"

          # these are errors that will be ignored by flake8
          # check out their meaning here
          # https://flake8.pycqa.org/en/latest/user/error-codes.html
          - "--ignore=E203,E266,E501,W503,F403,F401,E402,C901,F405,W504"
